# Port Number
PORT = 8088

# Development Mode
NODE_ENV = development / production

#Databse URL Local
MONGODB_LOCAL =

#Databse URL Production
MONGODB_PROD =

# JWT DATA
JWT_SECRET = 
JWT_EXPIRES_IN = 

